@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .transition-visibility {
        transition: visibility 0s, opacity 0.2s ease-in-out;
    }
    .dialog-footer{
        position: relative;
    }
    .dialog-footer::after {
        content: "abcccccccccccccccccccccccccccccccccccccc";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1.25rem 0rem 0.6875rem 0.9375rem;
        border-color: hsl(217, 19%, 35%) transparent transparent transparent;
        top: 81%;
        right: -2%;
        transform: rotate(326deg);
      }
      
}
